<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="row">
            <h2 class="text-center">Log in</h2>
            <form action="/process_login" method="post" th:object="${userDto}">
                <div th:replace="~{fragments/authFormFragment.html}"></div>
                <div>
                    <div class="mb-3"><a href="/signup">Sign up new account</a></div>
                    <button type="submit" class="btn btn-primary mb-3 w-100">Submit</button>
                    <a href="/" class="btn btn-primary w-100">Go back</a>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>