<i class="bi bi-file-earmark"><span th:text = "'  '+${file.name}"> file 1</span></i>
<div>
    <span th:text = "${file.size}" class="text-muted">13.2mb</span>

    <button class="btn btn-sm btn-outline-secondary me-2 ms-2" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots"></i>
    </button>
    <ul class="dropdown-menu">
        <form action="/files" method="patch">

        </form>
        <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Rename</a></li>
        <li><a class="dropdown-item text-danger" href="#"><i class="bi bi-trash"></i> Delete</a></li>
    </ul>
</div>