<div class="text-center" style="width: 120px">

    <span class="d-block mb-2">
        <i class="bi bi-file-earmark display-4 display-md-3 display-sm-5"></i>
    </span>

    <span th:text="${file.name}" class="d-block text-truncate"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          th:title="${file.name}">
        File 1
    </span>

    <div th:text="${file.size}" class="d-block text-truncate text-muted md-1">
        File 1
    </div>


    <div class="mt-2">

        <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots"></i>
        </button>
        <ul class="dropdown-menu">

            <li>
                <button type="button" class="dropdown-item" th:attr="onclick=|downloadFile('${path}', '${file.name}')|" ><i class="bi bi-download"></i> Download</button>
            </li>


            <li>

                <button type="button" class="dropdown-item" data-bs-toggle="modal"
                        th:attr="data-bs-target='#renameModal-'+${stat.index}">
                    <i class="bi bi-pencil"></i> Rename
                </button>

            </li>

            <li>
                <button type="button" class="dropdown-item text-danger" data-bs-toggle="modal"
                        th:attr="data-bs-target='#deleteModal-'+${stat.index}">
                    <i class="bi bi-pencil"></i> Delete
                </button>
            </li>

        </ul>
    </div>


    <div class="modal fade" th:id="'deleteModal-'+${stat.index}" tabindex="-1"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/files/delete" method="post" th:object="${deleteFileRequest}">
                        <input type="hidden" th:value="${path}" name="path">
                        <input type="hidden" th:value="${file.name}" name="fileName">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'renameModal-'+${stat.index}" tabindex="-1"
         aria-labelledby="renameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="renameModalLabel">Rename File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/files/rename" method="post" th:object="${renameFileRequest}">
                        <div class="mb-3">
                            <label for="newFileName" class="form-label">New File Name</label>
                            <input type="hidden" name="path" th:value="${path}">
                            <input type="hidden" name="oldName" th:value="${file.name}">
                            <input type="text" class="form-control" id="newFileName"
                                   th:value="${file.name}"
                                   placeholder="Enter new file name" name="newName">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onclick="this.form.submit()">Rename</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

