<div class="text-center" style="width: 120px">
    <!-- Иконка папки -->
    <a th:href="${'/?path='+folder.path}" class="text-decoration-none link-dark d-block text">
        <i class="bi bi-folder-fill display-4 display-md-3 display-sm-5"></i>
    </a>
    <!-- Название папки -->
    <a th:text="${folder.folderName}" th:href="${'/?path='+folder.path}"
       class="d-block text-decoration-none link-dark text-truncate">
        Folder 1
    </a>

    <!-- Кнопка действий с папкой -->
    <div class="mt-2">

        <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots"></i>
        </button>
        <ul class="dropdown-menu">
            <li>
                <!-- Кнопка для открытия модального окна -->
                <button type="button" class="dropdown-item" data-bs-toggle="modal"
                        th:attr="data-bs-target='#renameFolderModal-'+${stat.index}">
                    <i class="bi bi-pencil"></i> Rename
                </button>

            </li>

            <li>
                <button type="button" class="dropdown-item text-danger" data-bs-toggle="modal"
                        th:attr="data-bs-target='#deleteFolderModal-'+${stat.index}">
                    <i class="bi bi-pencil"></i> Delete
                </button>
            </li>
        </ul>
    </div>


    <div class="modal fade" th:id="'renameFolderModal-'+${stat.index}" tabindex="-1"
         aria-labelledby="renameFolderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="renameFolderModalLabel">Rename Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/folders/rename" method="post">
                        <div class="mb-3">
                            <label for="newFolderName" class="form-label">New Folder Name</label>
                            <input type="text" name="path" th:value="${path}" hidden>
                            <input type="hidden" name="oldName" th:value="${folder.folderName}">
                            <input type="text" class="form-control" id="newFolderName" name="newName"
                                   th:value="${folder.folderName}"
                                   placeholder="Enter new folder name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onclick="this.form.submit()">Rename</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'deleteFolderModal-' + ${stat.index}" tabindex="-1"
         aria-labelledby="deleteFolderModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteFolderModalLabel"
                        th:text = "'You really want to delete this folder: '+${folder.folderName}+'?'"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/folders/delete" method="post">
                        <input type="text" name="path" th:value="${path}" hidden>
                        <input type="text" name="folderName" th:value="${folder.folderName}" hidden>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>