<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cloud storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">


    <style>
        .drop-area {
            position: relative;
            transition: background-color 0.3s;
        }

        .drop-area.dragover {
            background-color: #d1e7fd;
            /* Светло-синий цвет при наведении */
            border-color: #007bff;
        }
    </style>
</head>

<header class="fixed-top bg-dark text-white shadow-sm">
    <div class="container-fluid">
        <div class="row mt-2 justify-content-between">
            <div class="d-flex col-auto justify-content-start">
                <h1>Cloud file storage</h1>
            </div>
            <div th:if="${username==null}" class="col-auto d-flex align-items-center justify-content-start">
                <button class="btn btn-primary me-2">Log in</button>
                <button class="btn btn-primary">Sign up</button>
            </div>
            <div th:if="${username!=null}" class="col-2 d-flex align-items-center justify-content-end">
                <h4 th:text="${username}">liemartt</h4>
                <button class="btn btn-primary ms-3">Log out</button>
            </div>
        </div>
    </div>
</header>

<body class="mt-5">
    <div class="d-flex container-fluid row justify-content-center  mt-5">
        <div th:if="${username==null}" class="d-flex flex-column justify-content-center">
            <p class="h3">Welcome to Cloud File Storage</p>
            <p class="h3 mt-4">Securely store, access, and share your files
                from anywhere</p>
        </div>
        <div th:if="${username!=null}" class="container-fluid h-100 pt-2">
            <!-- Search input -->
            <div class="d-flex justify-content-center mt-5 mb-3">
                <div class="input-group mb-3 w-50">
                    <input type="text" class="form-control border border-secondary text-secondary"
                        placeholder="Search files">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                            class="bi bi-search"></i></button>
                </div>
            </div>

            <!-- Main block -->
            <main class="container-fluid mt-3">
                <nav aria-label="breadcrumb" class="mt-2">
                    <ol class="breadcrumb">
                        <li th:each="crumb : ${breadcrumbLinks}" class="breadcrumb-item">
                            <a class="text-decoration-none" th:href="${'/?path=' + crumb.getPath()}"
                                th:text="${crumb.getName()}">QWE</a>
                        </li>
                    </ol>
                </nav>

                <!-- Upload buttons -->
                <div class="d-flex justify-content-start pt-2">
                    <form method="post" action="/files" enctype="multipart/form-data">
                        <input type="file" name="file" id="fileInput" style="display:none;"
                            onchange="this.form.submit()">
                        <input type="hidden" name="path" th:value="${userPath}">
                        <button type="button" class="btn btn-primary"
                            onclick="document.getElementById('fileInput').click();">Upload File</button>
                    </form>

                    <form method="post" action="/folders" enctype="multipart/form-data" class="ms-2">
                        <input type="file" name="folder" id="folderInput" webkitdirectory style="display:none;"
                            onchange="this.form.submit()">
                        <input type="hidden" name="path" th:value="${userPath}">
                        <button type="button" class="btn btn-primary"
                            onclick="document.getElementById('folderInput').click();">Upload Folder</button>
                    </form>
                </div>




                <div class="d-flex row justify-content-center mt-3">
                    <!-- Folders block -->
                    <div th:class="${files.isEmpty()?'col-md-12':'col-md-6'}" th:if="${!folders.isEmpty()}">
                        <form id="drop-area-folder" action="/folders" method="post"
                            class=" container rounded border border-primary p-3 drop-area" enctype=multipart/form-data>
                            <h5>Folders</h5>
                            <input type="hidden" name="path" th:value="${userPath}">
                            <input type="file" name="folder" id="folderElem" webkitdirectory directory hidden>

                            <ul class="list-group mb-2" id="folders-list">
                                <div th:each="folder:${folders}"
                                    class="list-group-item d-flex justify-content-between align-items-center mb-1 p-2 rounded"
                                    style="background-color: #bdcad6;">
                                    <div th:replace="~{fragments/folder-fragment.html}"></div>
                                </div>
                                <p class="text-center mt-4"><b>Drag and drop folder here</b></p>

                            </ul>
                        </form>
                    </div>

                    <!-- Files block -->
                    <div th:class="${folders.isEmpty()?'col-md-12':'col-md-6'}" id="filesBlock" th:if="${!files.isEmpty()}">
                        <form id="drop-area-files" action="/files" method="post"
                            class="container border border-primary rounded p-3 drop-area" enctype="multipart/form-data">
                            <h5>Files</h5>
                            <input type="hidden" name="path" th:value="${userPath}">
                            <input type="file" name="file" id="fileElem" hidden>

                            <ul id="files-list" class="list-group mb-2">
                                <div th:each="file:${files}"
                                    class="list-group-item d-flex justify-content-between align-items-center mb-1 p-2 rounded"
                                    style="background-color: #bdcad6;">
                                    <div th:replace="~{fragments/file-fragment.html}"></div>
                                </div>
                                <p class="text-center mt-4"><b>Drag and drop file here</b></p>
                            </ul>

                        </form>
                    </div>

                    <div th:if="${files.isEmpty()&&folders.isEmpty()}">
                        <p class="text-center h2 mt-3">Upload your first file!</p>
                    </div>

                </div>
            </main>
        </div>
    </div>





    <script>
        const dropAreaFolder = document.getElementById('drop-area-folder');
        const folderInput = document.getElementById('folderElem');
        const dropAreaFiles = document.getElementById('drop-area-files');
        const filesInput = document.getElementById('fileElem');

        // Prevent default drag behaviors
        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropAreaFolder.addEventListener(eventName, preventDefaults, false)
            dropAreaFiles.addEventListener(eventName, preventDefaults, false)

            document.body.addEventListener(eventName, preventDefaults, false)
        });

        // Покраска области при наведении
        ['dragenter', 'dragover'].forEach(eventName => {
            dropAreaFolder.addEventListener(eventName, function (e) {
                e.preventDefault();
                e.stopPropagation();
                dropAreaFolder.classList.add('dragover');
            });

            dropAreaFiles.addEventListener(eventName, function (e) {
                e.preventDefault();
                e.stopPropagation();
                dropAreaFiles.classList.add('dragover');
            });
        });

        ['dragleave', 'drop'].forEach(eventName => {
            dropAreaFolder.addEventListener(eventName, function (e) {
                e.preventDefault();
                e.stopPropagation();
                dropAreaFolder.classList.remove('dragover');
            });

            dropAreaFiles.addEventListener(eventName, function (e) {
                e.preventDefault();
                e.stopPropagation();
                dropAreaFiles.classList.remove('dragover');
            });
        });

        // Handle dropped files
        dropAreaFolder.addEventListener('drop', handleDropFolder, false);
        dropAreaFiles.addEventListener('drop', handleDropFile, false);

        function preventDefaults(e) {
            e.preventDefault();
            e.stopPropagation();
        }

        async function handleDropFolder(e) {
            let dt = e.dataTransfer;
            let items = dt.items;

            // Process the dropped folder
            let files = await getFilesFromItems(items);
            insertFilesIntoInput(files);
            dropAreaFolder.submit();
        }
        async function handleDropFile(e) {
            let dt = e.dataTransfer;
            let items = dt.items;

            // Process the dropped folder
            let files = await getFilesFromItems(items);
            insertFilesIntoInput(files);
            dropAreaFiles.submit();
        }

        async function getFilesFromItems(items) {
            let files = [];

            for (let i = 0; i < items.length; i++) {
                let item = items[i].webkitGetAsEntry();
                if (item.isDirectory) {
                    files = files.concat(await readDirectory(item));
                } else if (item.isFile) {
                    let file = await new Promise((resolve) => item.file(resolve));
                    files.push(file);
                }
            }

            return files;
        }

        async function readDirectory(directory) {
            let reader = directory.createReader();
            let entries = await new Promise((resolve) => reader.readEntries(resolve));
            let files = [];

            for (let entry of entries) {
                if (entry.isDirectory) {
                    files = files.concat(await readDirectory(entry));
                } else if (entry.isFile) {
                    let file = await new Promise((resolve) => entry.file(resolve));
                    files.push(file);
                }
            }

            return files;
        }

        function insertFilesIntoInput(files) {
            // Convert the FileList into an array
            const dataTransfer = new DataTransfer(); // Standard browser API
            files.forEach(file => dataTransfer.items.add(file));

            // Assign the new files to the input element
            folderInput.files = dataTransfer.files;
            filesInput.files = dataTransfer.files;

        }
    </script>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>