<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cloud storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>

<header th:replace="~{fragments/header-fragment.html}"></header>

<body class="mt-5">
<div class="d-flex container-fluid row justify-content-center  mt-5">
    <div th:if="${username==null}" class="d-flex flex-column justify-content-center">
        <p class="h3">Welcome to Cloud File Storage</p>
        <p class="h3 mt-4">Securely store, access, and share your files
            from anywhere</p>
    </div>
    <div th:if="${username!=null}" class="container-fluid h-100 pt-2">
        <!-- Search input -->
        <div class="d-flex justify-content-center mt-5 mb-3">
            <form action="/search" method="get" class="input-group mb-3 w-50">
                <input type="text" class="form-control border border-secondary text-secondary"
                       placeholder="Search files" name = "query" th:value="${query}" required>
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i
                        class="bi bi-search"></i></button>
            </form>
        </div>

        <div class="d-flex row justify-content-center mt-3">
            <div class="col-md-12">
                <h5>Found objects</h5>
                <div class="d-flex flex-wrap justify-content-center rounded border border-primary drop-area"
                     id="drop-area-folder">
                    <div th:each="object : ${objects}" class="d-flex flex-column align-items-center m-2 p-2"
                         style="width: 120px;">
                        <div th:replace="~{fragments/found-object-fragment.html}"></div>
                    </div>
                </div>
            </div>

            <div th:if="${objects.isEmpty()}">
                <p class="text-center h2 mt-3">Nothing found, try searching again</p>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>